body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#city-input{
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}


#search-button {
    padding: 10px;
    cursor: pointer;
}

#search-results {
    margin-top: 20px;
}

button {
    margin-top: 10px;
}